.main-cart {
  padding: 28px 0 20px;
}

.black-heading {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #1c1c27;
  padding-bottom: 13px;
}

.cart-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 767px) {
  .cart-content {
    flex-direction: column;
    align-items: unset;
    gap: 30px;
  }
}
